{% extends 'main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'cloth/styles/login.css' %}">
{% endblock head %}
{% block content %}
{% if page == 'register' %}
    <h1>Register your account</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register Users" />
    </form>
    <p>Already have an account<a href="{% url 'login' %}">Sign in </a></p>
    {% else %}
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name" />
        <input type="password" name="password" placeholder="Enter Password" />
        <input type="submit" value="Login" >
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    {% endif %}
{% endblock content %}