<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        {% block head %}{% endblock head %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% block content %}
        {% endblock content %}
    </body>
</html>